#content{role: 'main'}

  .site-width
    %section#conference
      .content-wrapper
        %p{role: 'introduction'}

      %h1 Friday, July 12, 2013
      %aside.schedule
        - @friday_sessions.each do |session|
          %article{ class: ['vevent', ('vevent-talk' if session.session_type.downcase == 'talk')] }
            %h1.summary= session.title
            %time.dtstart{datetime: "#{get_datetime session.start}"}

              ="#{get_hours session.start}:<span class=mins>#{get_minutes session.start}".html_safe
            -if !session.speaker.nil? &&  session.session_type.downcase == 'talk'
              %span= "with #{session.speaker.name}"
            -if !session.description.nil?
              %p.description= session.description

      %h1 Saturday, July 13, 2013
      %aside.schedule
        - @saturday_sessions.each do |session|
          %article{ class: ['vevent', ('vevent-talk' if session.session_type.downcase == 'talk')] }
            %h1.summary= session.title
            %time.dtstart{datetime: "#{get_datetime session.start}"}

              ="#{get_hours session.start}:<span class=mins>#{get_minutes session.start}".html_safe
            -if !session.speaker.nil? &&  session.session_type.downcase == 'talk'
              %span= "with #{session.speaker.name}"
            -if !session.description.nil?
              %p.description= session.description
