<li>
  <h2><%= sponsor.name %></h2>
  <%- if sponsor.image? %>
    <div class="sponsor-image-block">
      <%= image_tag sponsor.image, :class => 'sponsor-image' %>
    </div>
  <% end %>
  <p><%= link_to "Website", sponsor.website if sponsor.website %></p>
  <p><%= truncate(sponsor.description, :length => 260) %></p>
  <p><%- if sponsor.description.length > 260 %>
    <%= link_to "More", "sponsors##{sponsor.twitter}" %>
    <%- end %>
  </p>
</li>
