<li class="sponsor">
  <a name="<%= sponsor.twitter %>">
    <h2><%= sponsor.name %></h2>
  </a>
  <%- if sponsor.image? %>
    <div class="sponsor-image-block">
      <%= image_tag sponsor.image, :class => 'sponsor-image' %>
    </div>
  <% end %>
  <div class="sponsor-description-block">
    <p><%= link_to "Website", sponsor.website if sponsor.website %></p>
    <p><%= sponsor.description %></p>
  </div>
</li>
<div class="clearfix spacing"></div>
