<li>
  <a name="<%= speaker.twitter %>">
    <h2><%= speaker.name %></h2>
  </a>

  <div class="speaker-image-block">
    <%= image_tag speaker.image, :class => 'speaker-image' if speaker.image.present? %>
  </div>

  <div class="speaker-description-block">
    <%= link_to "Website", speaker.website %>
    <%= link_to "Twitter", "http://www.twitter.com/" + speaker.twitter if speaker.twitter && !speaker.twitter.blank? %>
    <p><%= speaker.bio %></p>
  </div>
</li>

<div class="clearfix spacing"></div>
